<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <title>Weather in {{ city }}</title>
    </head>
    <body>
        <div class="background">
            <img src="{{ backgif }}" alt="">
        </div>
        <div class="text">
            <p id="centerthis">
                The weather in {{ city }}, {{ country }} is {{ weather }}.
            </p>
        </div>
    </body>
</html>
