<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <title>Weather</title>
    </head>
    <body>
        <div id="centerthis">
            <form action="">
                <p>
                    The weather in
                    <input id="form" type="text" name="city" placeholder="City"/>
                    is...
                </p>
            </form>
        </div>
    </body>
</html>
